/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/_local.scss */
body {
  width: 1100px;
  margin: 0 auto;
  font-family: "Trebuchet MS", Tahoma, Helvetica, Sans-Serif;
}

/* line 9, ../sass/_local.scss */
.standout-color {
  color: #ffbf00;
}

/* line 12, ../sass/_local.scss */
#logo-container {
  position: relative;
  top: 12px;
  left: 25px;
  height: 90px;
}

/* line 18, ../sass/_local.scss */
.logo-position {
  display: inline-block;
  position: relative;
  top: -20px;
  left: 15px;
  text-align: center;
}

/* line 27, ../sass/_local.scss */
#logo-brighter {
  font-size: 1.8em;
  font-weight: bold;
}
/* line 31, ../sass/_local.scss */
#logo-brighter .letterspace {
  letter-spacing: .2em;
}

/* line 35, ../sass/_local.scss */
#logo-software-solutions {
  color: #ddd;
  font-size: .7em;
  font-weight: lighter;
}
/* line 40, ../sass/_local.scss */
#logo-software-solutions .letterspace {
  letter-spacing: .5em;
}

/* line 45, ../sass/_local.scss */
#strapline-container {
  position: relative;
  top: -50px;
  margin-right: 40px;
  font-style: italic;
  font-weight: lighter;
  text-align: right;
}

/* line 53, ../sass/_local.scss */
#strapline-message {
  letter-spacing: .1em;
}

/* line 56, ../sass/_local.scss */
#strapline-contact {
  position: relative;
  color: #999;
  top: 6px;
  font-size: .9em;
  letter-spacing: .1em;
}

/* line 63, ../sass/_local.scss */
#header-container {
  color: #fff;
  width: 100%;
  height: 110px;
  background: #444;
}

/* line 72, ../sass/_local.scss */
#navigation-container {
  background-color: #333;
  color: #ddd;
  font-size: .8em;
  letter-spacing: .1em;
  border-top: 1px solid #999;
  border-bottom: 1px solid #667;
  padding-left: 20px;
}
/* line 82, ../sass/_local.scss */
#navigation-container a {
  height: 20px;
  text-decoration: none;
  color: #ddd;
  transition: color .6s;
  -moz-transition: color .6s;
  -webkit-transition: color .6s;
  -o-transition: color .6s;
}
/* line 92, ../sass/_local.scss */
#navigation-container a:visited {
  color: #ddd;
}
/* line 95, ../sass/_local.scss */
#navigation-container a:hover {
  color: #ffbf00;
}
/* line 98, ../sass/_local.scss */
#navigation-container a.navon {
  color: #ffbf00;
}
/* line 102, ../sass/_local.scss */
#navigation-container ul {
  list-style: none;
  width: 1050px;
  height: 34px;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}
/* line 110, ../sass/_local.scss */
#navigation-container ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 11px;
}
/* line 117, ../sass/_local.scss */
#navigation-container ul li.navon {
  color: #ffbf00;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url("../img/navigation-pointer.png");
}
/* line 124, ../sass/_local.scss */
#navigation-container ul:after {
  content: '';
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

/* line 134, ../sass/_local.scss */
#section-power-message {
  height: 288px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #222222), color-stop(71%, #3f3f3f), color-stop(100%, #666666));
  background-image: -webkit-linear-gradient(#222222 35%, #3f3f3f 71%, #666666);
  background-image: -moz-linear-gradient(#222222 35%, #3f3f3f 71%, #666666);
  background-image: -o-linear-gradient(#222222 35%, #3f3f3f 71%, #666666);
  background-image: linear-gradient(#222222 35%, #3f3f3f 71%, #666666);
  border-bottom: 1px solid #fff;
  font-weight: bold;
  letter-spacing: .1em;
}
/* line 142, ../sass/_local.scss */
#section-power-message .fontsize1 {
  font-size: 1em;
}
/* line 146, ../sass/_local.scss */
#section-power-message .fontsize2 {
  font-size: 2.6em;
}
/* line 149, ../sass/_local.scss */
#section-power-message .fontsize3 {
  font-size: 4.5em;
}

/* line 153, ../sass/_local.scss */
#section-main-content {
  min-height: 400px;
  background: #ddd;
  text-align: center;
  color: #444;
}
/* line 159, ../sass/_local.scss */
#section-main-content .title {
  font-size: 2.8em;
  font-weight: bold;
  padding-top: 60px;
  padding-bottom: 30px;
}
/* line 166, ../sass/_local.scss */
#section-main-content .subtitle {
  font-size: 1.6em;
  padding-bottom: 20px;
}
/* line 173, ../sass/_local.scss */
#section-main-content .column .subtitle {
  text-align: center;
}
/* line 177, ../sass/_local.scss */
#section-main-content p {
  font-size: .8em;
  line-height: 1.5em;
}

/* line 184, ../sass/_local.scss */
#power-message-backup {
  color: #fff;
  font-size: 1.2em;
}
/* line 189, ../sass/_local.scss */
#power-message-backup .p1 {
  position: relative;
  top: 44px;
  left: 115px;
}
/* line 194, ../sass/_local.scss */
#power-message-backup .p2 {
  position: relative;
  top: 124px;
  left: 0px;
}
/* line 199, ../sass/_local.scss */
#power-message-backup .p3 {
  position: relative;
  top: 124px;
  left: 15px;
}
/* line 205, ../sass/_local.scss */
#power-message-backup img {
  position: relative;
  top: 40px;
  left: -100px;
  float: right;
}

/* line 214, ../sass/_local.scss */
.column-container {
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}
/* line 219, ../sass/_local.scss */
.column-container .column {
  width: 25%;
  padding: 40px;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
/* line 227, ../sass/_local.scss */
.column-container:after {
  content: '';
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

/* line 235, ../sass/_local.scss */
.forreflection {
  z-index: 2;
  position: relative;
}

/* line 239, ../sass/_local.scss */
.reflection {
  color: #595959;
  opacity: 1;
  z-index: 1;
  top: 76px;
  left: 0px;
  position: absolute;
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
}

/* line 251, ../sass/_local.scss */
#footer-container {
  opacity: .5;
  border-top: 3px solid #777;
  border-bottom: 1px solid #ddd;
  padding: 40px;
  font-family: arial,sans-serif,helvetica;
  color: #555;
  font-size: .7em;
  letter-spacing: .1em;
  line-height: 1.5em;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* line 265, ../sass/_local.scss */
#copyright {
  text-align: center;
}

/* line 269, ../sass/_local.scss */
#pageupdate {
  text-align: right;
  float: right;
}
